.calendar {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .cell {
    height: 100px;
    border: 1px solid #ddd;
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
  }

  .pickedcell {
    height: 100px;
    border: 1px solid #ddd;
    background-color: rgb(176, 253, 195);
    padding: 10px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .header {
    background: #f4f4f4;
    font-weight: bold;
  }
  