.calendar {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .cell {
    height: 100px;
    border: 1px solid #ddd;
    padding: 10px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
  }

  .pickedcell {
    height: 100px;
    border: 1px solid #ddd;
    background-color: rgb(218, 248, 223);
    padding: 10px;
  }
  
  .header {
    background: #f4f4f4;
    font-weight: bold;
  }
  
  .outlined-dropdown {
    background-color: rgb(232, 248, 255);
  }

  .outlined-dropdown .dropdown-toggle {
    border: 1px solid #b4b4b4;
    border-radius: 7px;
  }
  
  .outlined-dropdown .dropdown-menu {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  