.calendar {
    width: 95%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }

  .cell {
    height: 100px;
    border: 1px solid #ddd;
    padding: 2px;
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
  }

  .pickedcell {
    height: 100px;
    border: 1px solid #ddd;
    background-color: rgb(218, 248, 223);
    padding: 2px;
  }
  
  .header-light {
    background: #f4f4f4;
    font-weight: bold;
  }

  .header-dark {
    background: #19191a;
    font-weight: bold;
  }

  .outlined-dropdown .dropdown-toggle {
    background-color: rgb(226, 245, 253);
  }
  
  .outlined-dropdown .dropdown-menu {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  